<!-- footer start-->
<footer class="py-4 bg-dark text-light">
  <div class="container text-center">
    <!-- navigation start -->
    <ul class="nav justify-content-center mb-3">
      <li class="nav-item">
        <a class="nav-link" href="/index.html">ホーム</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">お知らせ</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">イベント情報</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">活動実績</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">協会概要</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">ブログ</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">入会お知らせ</a>
      </li>
    </ul>
    <!-- navigation end -->
    <p><small>Copyright &copy; All Student Cooking Association 全日本学生料理協会は全国の学生を対象に活動する食の団体です</small></p>
  </div>
</footer>
<!-- footer end-->
