  <!-- Footer -->
  <footer class="page-footer font-small bg-dark">

    <div style="background-color: #2979ff;">
      <div class="container">

        <!-- Grid row-->
        <div class="row py-4 d-flex align-items-center">
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-6 col-lg-7 text-center text-md-right">

            <!-- Facebook -->
            <a class="fb-ic">
              <i class="fab fa-facebook-f text-white mr-4"> </i>
            </a>
            <!-- Twitter -->
            <a class="tw-ic">
              <i class="fab fa-twitter text-white mr-4"> </i>
            </a>
            <!--Instagram-->
            <a class="ins-ic">
              <i class="fab fa-instagram text-white"> </i>
            </a>

          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row-->

      </div>
    </div>

    <!-- Footer Links -->
    <div class="container text-white text-center text-md-left mt-5">

      <!-- Grid row -->
      <div class="row mt-3">

        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

          <!-- Content -->
          <h6 class="text-uppercase font-weight-bold">ASCA</h6>
          <hr class="bg-primary accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>全日本学生料理協会 / ASCA (All-Student-Cooing-Association)
            「食」を軸に「日本全国」の「学生」で構成された団体です。</p>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-3 col-xl-2 mx-auto mb-4">

          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold">Pages</h6>
          <hr class="bg-primary accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 75px;">
          <p>
            <a href="#!">ホーム</a>
          </p>
          <p>
            <a href="#!">お知らせ</a>
          </p>
          <p>
            <a href="#!">プライバシーポリシー</a>
          </p>
          <p>
            <a href="#!">サイトマップ</a>
          </p>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-1 mx-auto mb-4">

          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold">Main</h6>
          <hr class="bg-primary accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <a href="#!">協会概要</a>
          </p>
          <p>
            <a href="#!">活動実績</a>
          </p>
          <p>
            <a href="#!">イベント情報</a>
          </p>
          <p>
            <a href="#!">お問い合わせ</a>
          </p>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-5 col-lg-3 col-xl-4 mx-auto mb-md-0 mb-4">

          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold">Contact</h6>
          <hr class="bg-primary accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            ご連絡はメールでお願いします</p>
          <p>
            food@ascachan.com</p>
          <p>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Footer Links -->
    <!-- navigation end -->
    <div class="footer-copyright text-center py-3">
      <small>Copyright &copy; All Student Cooking Association 全日本学生料理協会は全国の学生を対象に活動する食の団体です<small>
    </div>
  </footer>
  <!-- footer end-->
