<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="/index.html"><img src="/img/title.jpg" width="250" height="60" alt="全日本学生料理協会"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end top-bar" id="navbarNav">
      <ul class="navbar-nav ">
        <li class="nav-item active">
          <a class="nav-link" href="/index.html">ホーム<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/html/top_end/news.html">お知らせ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/html/top_end/pr-policy.html">プライバシーポリシー</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/html/top_end/contact.html">お問い合わせ・入会について</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/html/top_end/sitemap.html">サイトマップ</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
