<!-- <div class="card">
  <div class="card-body">
    <div class="details">
      <img class="mx-0 card-img-top" src="/img/top/top_card_img/00_About.JPG" alt="">
      <dl>
        <dt>子供キッチン</dt>
        <dd>~鹿肉で作るカレーライス~</dd>
        <dd><a href="#" class="btn btn-primary">詳細へ</a></dd>
      </dl>
    </div>
    </div>
  </div>
</div> -->
<!--  上記ぼかし実装予定 -->
<div class="card">
  <h5 class="card-header">最新イベント情報</h5>
  <img class="mx-0 card-img-top" src="/img/top/top_card_img/00_About.JPG" alt="">
  <div class="card-body">
    <p class="card-text">
      <small><span class="text-muted">第一回子どもキッチン開催決定！</span></small>
    </p>
    <a href="#" class="btn btn-primary pull-right">詳細へ</a>
  </div>
</div>
